
.nothing__main-content {
    align-items: center;
    background-color: #100f10;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    p {
        color: white;
        text-align: center;
        margin-bottom: 10px;
    }
}

